<footer class="mt-32">
    <div class="sm:px-8">
        <div class="mx-auto max-w-7xl lg:px-8">
        <div
            class="border-t border-zinc-100 pt-10 pb-16 0"
        >
            <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div
                class="flex flex-col items-center justify-between gap-6 sm:flex-row"
                >
                <div
                    class="flex gap-6 text-sm font-medium text-zinc-800"
                >
                  {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <a
                        class="transition hover:text-teal-500"
                        href="{{ .URL }}"
                        >
                        {{ .Title }}
                        </a>
                    {{ end }}
                </div>
                <p class="text-sm text-zinc-400">
                    © {{ now.Format "2006"}} Cino Consultancy<br />

                    <span class="text-xs">
                        KVK: 89913019
                    </span>
                </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</footer>
